.places {
  max-width: 984px;
  margin: 0 auto 92px;
  display: grid;
  gap: 80px;
}

@media screen and (max-width: 1280px) {
  .places {
    max-width: 76.9%;
  }
}

@media screen and (max-width: 1124px) {
  .places {
    max-width: 90.625%;
    gap: 73px;
  }
}

@media screen and (max-width: 1024px) {
  .places {
    grid-row-gap: 80px;
  }
}

@media screen and (max-width: 900px) {
  .places {
    max-width: 93.75%;
    grid-row-gap: 73px;
  }
}

@media screen and (max-width: 760px) {
  .places {
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .places {
    margin-bottom: 66px;
    grid-row-gap: 50px;
  }
}