.place__paragraph {
    grid-column: 2;
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;
    margin: 0 0 25px 0;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 900px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 760px) {
    .place__paragraph {
        grid-column: 1;
        margin-left: 24px;
        margin-top: 32px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 500px) {
    .place__paragraph {
        margin: 0 auto 25px;
        max-width: 90%;
    }
}